.form-item {

  &.form-type-textfield,
  &.form-type-password,
  &.form-type-radios,
  &.form-type-textarea {
    padding: 15px 0;
  }

  &.form-type-textfield,
  &.form-type-password {
    input {
      background: @form-input;
      border: none;
      padding: 3px;
    }
  }

  &.form-type-textarea {
    textarea {
      background: @form-input;
      padding: 3px;
      border: none;
    }
    .grippie {
      background-color: darken(@form-input, 5%);
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px mix(@form-input, #fffb7a, 60%) inset;
  }

}

fieldset {
  padding: 15px 0;

}

.fieldset-wrapper {
  border-left: 3px solid #eee;
  padding-left: 30px;
}

.fieldset-legend {
  font-size: 1.2em;
  font-weight: normal;
}

input[type=submit],
input[type=button],
input[type=reset] {
  border: none;
  background: @primary-color;
  color: @inverted-text;
  padding: 5px 14px;

  &:hover {
    background: @primary-color-highlight;
  }
}